@font-face {
  font-family: "Grenze";
  src: url(fonts/Grenze/Grenze-Black.tff); }

@font-face {
    font-family: "Open Sans";
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf), url(fonts/Open_Sans/OpenSans-Bold.ttf), url(fonts/Open_Sans/OpenSans-Light.ttf);
}  

body {
  background-color: black;
  color: #ffffff;
  font-family: "Grenze";
  font-style:"normal";
  font-size: 36px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 }

 section {
    width: 500px; }
    @media (max-width: 600px) {
      section {
        width: 350px;
        font-size: 16px; } }
    section p {
      margin: 24px 0 0 0; }
a:link {
  color: #2F80ED;
}
